#chart-container {
  /* flex: 1; */
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  min-height: 300px;

}


#map-label {
  border-bottom: 3px solid  #E518E8;
  padding-bottom: 6px;
  padding-left: 30px;
  padding-right: 10px;
  border-right: 3px solid #E518E8;
  width: 140px;
}  


#svg-map {
  background-color: #D6F1F3;
}



@media only screen and (max-width:900px) {
  #chart-container {
    height: 35vh;
  }

  #summary-box {
    flex: 1;
  }
}