#container {
  width: 100%;
  display: flex;
  align-items: center;
  height: 4.2em;
  color: #282c34;
  position: absolute;
  z-index: 10;
  top: 0;
  padding: .5rem;
  flex-wrap: wrap;
  background-color: white;
  -webkit-box-shadow: 0px 6px 7px -6px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 6px 7px -6px rgba(0,0,0,0.75);
  box-shadow: 0px 6px 7px -6px rgba(0,0,0,0.75);
}

#menu {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 0 30px;
  align-items: center;
}

.menu-item h6 {
  max-width: 120px;
  cursor: pointer;
  text-transform: uppercase;
  margin: 0;
  padding: .5em 1.5em;
  border-radius: 40px;
}

.options-button {
    padding: 15px;
    border: 1px solid #282c34;
    cursor: pointer;
    margin: 0;
    margin-left: 1em;
  }


@media only screen and (max-width:900px) {
  #container {
    order: 3;
    width: 100vw;
    position: fixed;
    height: 100vh;
    order: 3;
    z-index: 1001;
  }

  #menu {
    flex-direction: column;
    height: 60vh;
    max-height: 500px;
  }

  .menu-item h6 {
    width: 120px;
  }

  #now-showing {
    font-size: 12px;
  }
  
  #showing-now {
    font-size: 14px;
  }
}